
<h2 align="center"> So what‘s the catch? </h2>
<div align="center" class="blabla"> There isn‘t one. Seriously. No sneaky contracts, no tricksy fine print, </div>
<div align="center" class="blabla"> and no BS. Still not convinced? Read on.</div>
<hr align="center">
<div class="blabla" style="margin-left: 200px"><b> Why should I get this combo if I only want a razor? </b>  <img align="right" src="../../assets/Icooo.png"></div>
<div class="blabla" style="margin-left: 200px"> It‘s a way better deal. Here, you get our best razor AND extra stuff for less than the cost of the razor by itself. You don‘t need a graphing calculator to see that‘s a better deal.</div>
<hr align="center">
<div class="blabla" style="margin-left: 200px"><b> Do I get all this amazing stuff in my box each time?</b><img align="right" src="../../assets/Icooo.png"></div>
<div class="blabla" style="margin-left: 200px"> Yes, if that‘s what you want. Your second box has the same stuff but full sizes. If it has a razor, you‘ll get more blades. Want to add or remove anything? You can do that, too. We get it. Sometimes people change their minds. Or need different stuff.</div>
<hr align="center">
<div class="blabla" style="margin-left: 200px"><b> How often will this awesome box show up at my doorstep? </b><img align="right" src="../../assets/Icooo.png"></div>
<div class="blabla" style="margin-left: 200px"> You tell us how often you‘d like it, and we‘ll ship it then. Monthly? Quarterly? When Mercury is in retrograde? Your call</div>
<hr align="center">
<div class="blabla" style="margin-left: 200px"><b> Why shouldn‘t I just buy this stuff at the store? </b><img align="right" src="../../assets/Icooo.png"></div>
<div class="blabla" style="margin-left: 200px">There‘s nothing worse than getting lathered up for a shave only to realize that you forgot to go to the store for razors. Or standing in the shower realizing you‘re out of shampoo. That never happens to our Members. We keep them stocked up on fresh blades — and anything else they might need in the bathroom. Plus, unlike the store, we don‘t lock our razors away in a plastic razor prison then make you stand there like a criminal waiting for someone to unlock it. </div>
<hr align="center">
<div class="blabla" style="margin-left: 200px"><b> What‘s this Handsome Discount everyone‘s talking about? </b><img align="right" src="../../assets/Icooo.png"></div>
<div class="blabla" style="margin-left: 200px">We pay to make you better looking. So the more stuff you buy, the more we lower our prices. Don‘t think you could possibly get more handsome? Let‘s find out.</div>
<hr align="center">
<div class="blabla" style="margin-left: 200px"><b> Are there initiation fees or canceling fees or other sneaky stupid fees?</b><img align="right" src="../../assets/Icooo.png"></div>
<div class="blabla" style="margin-left: 200px"> No way. We don‘t like fees anymore than you do. You only have to pay for the stuff we ship you.</div>
<hr align="center">
<div class="blabla" style="margin-left: 200px"><b> Is this like one of those record clubs from the 90‘s that are impossible to cancel? </b><img align="right" src="../../assets/Icooo.png"></div>
<div class="blabla" style="margin-left: 200px"> Nope. You can cancel anytime for any reason with just a few clicks. We hope you‘ll stay, but we never make it hard to leave.</div>
<hr align="center">
<div align="center" class="single-submit">
  &nbsp; &nbsp;<input style="align-items: center" type="submit" name="submit" id="submit" value="Contate-Nos" href="#map">
</div>
<br>
<br>
<br>