
<div>

  <section class="ui-grid-container ui-text--center ui-text--md ui-pt--4-desktop ui-pt--4-tablet ui-pt--2 ui-pb--4-desktop ui-pb--4-tablet ui-pb--2">
    <div class="ui-grid is-mobile is-centered ui-color--paper-dark">
      <div class="ui-grid-col is-4-mobile is-4-tablet is-3-desktop ui-inline-value-prop__container">
        <span class="ui-inline-value-prop__wrapper">
          <img  src="../../assets/Truck.png"> &nbsp; &nbsp; &nbsp;
          <span class="ui-inline-value-prop__name ui-display--inline-block" style="color: black;font-family: Museo700"> Frete <br class="ui-bp--mobile-only">grátis </span>
        </span>
      </div>
      <div class="ui-grid-col is-4-mobile is-4-tablet is-3-desktop ui-inline-value-prop__container">
        <span class="ui-inline-value-prop__wrapper">
          <img src="../../assets/smile1.png"> &nbsp; &nbsp; &nbsp;
          <span class="ui-inline-value-prop__name ui-display--inline-block" style="color: black;font-family: Museo700"> Satisfação <br class="ui-bp--mobile-only"> garantida </span>
        </span>
      </div>
      <div class="ui-grid-col is-4-mobile is-4-tablet is-3-desktop ui-inline-value-prop__container">
        <span class="ui-inline-value-prop__wrapper">
          <img src="../../assets/time.png"> &nbsp; &nbsp; &nbsp;
          <span class="ui-inline-value-prop__name ui-display--inline-block" style="color: black; font-family: Museo700"> Sem fidelidade <br class="ui-bp--mobile-only">  </span>
        </span>
      </div>
    </div>
  </section><hr class="ui-hr"></div>
